/* Container để giới hạn chiều rộng */
.container {
    max-width: 1440px;
    width: 1440px;
    margin: 0 auto;
}

/* Logo */
.header_logo img {
    height: 350px;
    width: auto;
}

.header_right {
    display: flex;
    align-items: center;
}

/* Container chứa avatar và nút */
.avatar_container {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Avatar */
.avatar {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    z-index: 1;
}

/* Nút Welcome */
.welcome_button {
    padding: 8px 30px;
    font-size: 1rem;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 30px;
    /* cursor: pointer; */
    position: relative;
    z-index: 0;
    margin-top: 30px;
}

/* Banner */
.banner {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

/* Styling for the main banner image */
.banner_image {
    width: 100%;
    height: 595px;
    display: block;
    transition: filter 0.3s ease;
}

/* Darken the banner image on hover */
.banner:hover .banner_image {
    filter: brightness(0.4);
}

/* Styling for the SPSO overlay image */
.student_image {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 35%; /* Adjust positioning if needed */
    transform: translate(-50%, -50%);
    width: 300px; /* Adjusted size for visibility */
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    
}

/* Styling for the SPSO overlay image */
.spso_image {
    border-radius: 25px;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 65%; /* Adjust positioning if needed */
    transform: translate(-50%, -50%);
    width: 305px; /* Adjusted size for visibility */
    height: 290px; /* giảm chiều cao */
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    
}

/* Make SPSO image appear when hovering over the banner */
.banner:hover .student_image,
.banner:hover .spso_image
{
    opacity: 1;
} 