.container {
  max-width: 1440px;
  width: 1440px;
  margin: 0 auto;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.icon {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 50px;
  margin-left: 20%;
  justify-content: space-evenly;
}

.input_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  vertical-align: middle;
  background-color: #d9d9d9;
  width: 28%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}
.input_filename {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  vertical-align: middle;
  background-color: #d9d9d9;
  width: 310px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.search_label {
  font-size: large;
  color: #555;
  font-weight: bold;
}

.datepick {
  color: black;
  height: 25px;
  width: 150px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}
.input {
  color: black;
  height: 25px;
  width: 170px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}

.datepick:focus,
.input:focus {
  outline: none;
}

.bnt_out {
  width: 10%;
  height: 40px;
  margin-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: bolder;
  background-color: #00aaff;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.bnt_out:hover {
  background-color: #0045d0;
}

.table_printer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  background-color: #d3efff;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: #68c7ff dashed 5px;
  user-select: none;
}

.table_wrapper {
  width: 100%;
  height: 90vh;
  overflow: auto;
}

.table {
  table-layout: auto; /* Allow dynamic column sizing */
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.th {
  position: sticky;
  top: 0;
  background-color: #d3efff;
  text-align: center;
  padding: 0.5rem;
  font-size: larger;
}

/* Table cell styling */
.td {
  padding: 0.3rem;
  text-align: center;
  font-size: large;
}

.table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table tr {
  background-color: #ffffff;
}

.table_wrapper::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table_wrapper::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_wrapper:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.statusBadge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  width: 120px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup_info {
  background: white;
  padding: 20px 40px 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 35%;
}

/* Popup heading */
.popup_info .h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.info {
  outline: dashed black;
  padding: 10px 0 5px 0;
  margin-bottom: 20px;
}

/* Row container for field and value */
.row {
  display: flex;
  justify-content: space-between;
  margin: 5px 20px 10px 20px;
  font-size: large;
}

/* Field label styling */
.field {
  font-weight: bold;
  color: #555;
  flex: 1.5;
  text-align: left;
}

/* Value styling */
.value {
  flex: 1;
  color: #000;
  text-align: left;
  /* margin-left: 50px; */
}

.popup_btn {
  margin-left: 40%;
  font-family: "Quicksand", sans-serif;
  font-size: large;
  font-weight: bolder;
  background-color: #00aaff;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 80px;
  height: 30px;
}

.popup_btn:hover {
  background-color: #0062ff;
}

/* Specific styles based on status */
.recv {
  background-color: #e5fbe0;
  color: #30c10f;
  border-color: red;
}

.unrecv {
  color: #f44336;
  background-color: #ffe1e1;
}

.print {
  color: #ffc107;
  background-color: #fbf5d7;
}

.receive {
  color: #30c10f;
}

.unreceive {
  color: #f44336;
}

.printing {
  color: #ffc107;
}
