.container {
  max-width: 1440px;
  width: 1440px;
  margin: 0 auto;
}

/* Banner */
.banner {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

/* Styling for the main banner image */
.banner_image {
  width: 100%;
  height: 590px;
  display: block;
  transition: filter 0.3s ease;
}
.banner:hover .banner_image {
  filter: brightness(0.4);
}

/* Styling for the SPSO overlay image */
.print_image {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 35%; /* Adjust positioning if needed */
  transform: translate(-50%, -50%);
  width: 300px; /* Adjusted size for visibility */
  cursor: pointer;
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  opacity: 0; /* Initially hidden */
}

/* Styling for the SPSO overlay image */
.Viewlog_image {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Adjust positioning if needed */
  transform: translate(-50%, -50%);
  width: 300px; /* Adjusted size for visibility */
  cursor: pointer;
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
  opacity: 0; /* Initially hidden */
}

/* Make SPSO image appear when hovering over the banner */
.banner:hover .print_image,
.banner:hover .Viewlog_image {
  opacity: 1;
}

.boxContainer {
  display: flex;
  justify-content: center;
  gap: 80px; /* Tăng khoảng cách giữa các box */
  padding: 20px;
  margin-top: 20px;
}

.box {
  background-color: #6e6e6e; /* Màu nền giống với hình */
  padding: 30px; /* Tăng padding để box trông lớn hơn */
  border-radius: 15px;
  text-align: center;
  width: 300px; /* Tăng độ rộng của box */
}

.box p {
  color: white;
  font-size: 20px; /* Tăng kích thước chữ */
  margin-bottom: 10px;
}

.viewButton {
  background-color: #4aa3f0; /* Màu nút */
  color: white;
  border: none;
  padding: 12px 16px; /* Điều chỉnh padding để nút to hơn */
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px; /* Điều chỉnh kích thước chữ để nút to hơn */
}

.viewButton:hover {
  background-color: #379ad1; /* Màu khi hover */
}

.lineSection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.fullBarImage {
  width: 1300px; /* Tăng chiều dài thanh ngang */
  height: 35px; /* Giảm chiều cao để thanh mỏng hơn */
}

.imageSection {
  display: flex;
  justify-content: flex-start; /* Căn sang bên trái */
  margin-top: 40px; /* Khoảng cách phía trên */
  margin-left: 120px; /* Tùy chỉnh thêm khoảng cách với mép trái */
}

.welcomeImage {
  width: 350px; /* Tùy chỉnh chiều rộng */
  height: 200px; /* Giữ tỷ lệ gốc của ảnh */
  display: block;
}

.bottomImageSection {
  display: flex;
  justify-content: center; /* Căn giữa hình ảnh */
  margin-top: 40px; /* Tạo khoảng cách với phần trên */
}

.bottomImage {
  width: 1000px; /* Tùy chỉnh kích thước ảnh */
  height: auto; /* Giữ đúng tỷ lệ gốc của ảnh */
  display: block;
}
